$colorLightBlue: #58B7FF;

$colorDarkBlue: #1D8CE0;

$colorPrimary: #20A0FF;

$colorDanger: #FF4949;

$colorSuccess: #13CE66;

$colorBlue: #20A0FF;

$colorWarning: #F7BA2A;

$blueBg: #337ab7;

$blueBorder: #337ab7;

$blueFont: #fff;

$greenFont: #3c763d;

$greenBg: #dff0d8;

$greenBorder: #d6e9c6;

$lightBlueFont: #31708f;

$lightBlueBg: #d9edf7;

$lightBlueBorder: #bce8f1;

$warmFont: #8a6d3b;

$warmBg: #fcf8e3;

$warmBorder: #faebcc;

$dangerFont: #a94442;

$dangerBg: #f2dede;

$dangerBorder: #ebccd1;




